## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos_mat'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos_por'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_geo'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_ing'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_his'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_fis'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_qui'])

In [2]:
# 1) Seu código aqui

# aqui crio uma nova coluna com o total de questoes para cada assunto

df_mat['qtd_questoes_mat'] = 24
df_por['qtd_questoes_por'] = 18
df_geo['qtd_questoes_geo'] = 8
df_ing['qtd_questoes_ing'] = 8
df_his['qtd_questoes_his'] = 8
df_fis['qtd_questoes_fis'] = 12
df_qui['qtd_questoes_qui'] = 12

# agora crio uma terceira coluna, mostrando a porcentagem de acertos de cada aluno, por assunto

df_mat['porc_acertos_mat'] = (df_mat['Qt_acertos_mat'] / df_mat['qtd_questoes_mat']*100).round(2)
df_por['porc_acertos_por'] = (df_por['Qt_acertos_por'] / df_por['qtd_questoes_por']*100).round(2)
df_geo['porc_acertos_geo'] = (df_geo['Qt_acertos_geo'] / df_geo['qtd_questoes_geo']*100).round(2)
df_ing['porc_acertos_ing'] = (df_ing['Qt_acertos_ing'] / df_ing['qtd_questoes_ing']*100).round(2)
df_his['porc_acertos_his'] = (df_his['Qt_acertos_his'] / df_his['qtd_questoes_his']*100).round(2)
df_fis['porc_acertos_fis'] = (df_fis['Qt_acertos_fis'] / df_fis['qtd_questoes_fis']*100).round(2)
df_qui['porc_acertos_qui'] = (df_qui['Qt_acertos_qui'] / df_qui['qtd_questoes_qui']*100).round(2)

In [3]:
# 2) Seu código aqui

# o codigo abaixo soma todos os acertos por aluno em cada dataframe e mostra isso num novo DataFrame chamado 'total_acertos'

total_acertos = pd.DataFrame(df_mat['Qt_acertos_mat'] + df_por['Qt_acertos_por'] + df_geo['Qt_acertos_geo'] + df_ing['Qt_acertos_ing'] + df_his['Qt_acertos_his'] + df_fis['Qt_acertos_fis'] + df_qui['Qt_acertos_qui'], columns=['total_acertos'])
total_acertos.head()

   total_acertos
0             35
1             48
2             50
3             32
4             30

In [4]:
# 3) Seu código aqui

acertos_porcentagem = pd.DataFrame({
    'acertos_porc': (total_acertos['total_acertos'] / 90).round(2)})
acertos_porcentagem.head()

   acertos_porc
0          0.39
1          0.53
2          0.56
3          0.36
4          0.33

In [5]:
# 4) Seu código aqui
acima_45 = total_acertos[total_acertos['total_acertos'] > 45]
acima_45.count()

total_acertos    31
dtype: int64

## BONUS

In [6]:
# no codigo abaixo, combinarei todos os DataFrame criados acima em um unico DataFrame

df_vestibular_total = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui, total_acertos, acertos_porcentagem], axis=1)
df_vestibular_total.head()

,Qt_acertos_mat,qtd_questoes_mat,porc_acertos_mat,Qt_acertos_por,qtd_questoes_por,porc_acertos_por,Qt_acertos_geo,qtd_questoes_geo,porc_acertos_geo,Qt_acertos_ing,...,qtd_questoes_his,porc_acertos_his,Qt_acertos_fis,qtd_questoes_fis,porc_acertos_fis,Qt_acertos_qui,qtd_questoes_qui,porc_acertos_qui,total_acertos,acertos_porc
0,6,24,25.00,7,18,38.89,7,8,87.5,3,...,8,12.5,8,12,66.67,3,12,25.00,35,0.39
1,19,24,79.17,10,18,55.56,0,8,0.0,0,...,8,0.0,11,12,91.67,8,12,66.67,48,0.53
2,14,24,58.33,16,18,88.89,0,8,0.0,5,...,8,87.5,4,12,33.33,4,12,33.33,50,0.56
3,10,24,41.67,7,18,38.89,3,8,37.5,4,...,8,0.0,0,12,0.00,8,12,66.67,32,0.36
4,7,24,29.17,2,18,11.11,2,8,25.0,7,...,8,0.0,9,12,75.00,3,12,25.00,30,0.33

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [7]:
# seu código aqui

checagem_zero = ['Qt_acertos_mat', 'Qt_acertos_fis', 'Qt_acertos_qui']

df_zero = df_vestibular_total[(
    df_vestibular_total[checagem_zero] == 0).any(axis=1)]

df_zero[['Qt_acertos_mat', 'Qt_acertos_fis', 'Qt_acertos_qui']].head()

    Qt_acertos_mat  Qt_acertos_fis  Qt_acertos_qui
3               10               0               8
6                6               0               4
10              10               7               0
12              20               0               3
14               7               4               0

In [8]:
# 2) Quantos são esses alunos?

total_zero = len(df_zero)
total_zero

23

In [9]:
# 3) Qual a média desses alunos em história e geografia?

# aqui filtro as notas em historia e geografia de todos os alunos que tiraram zero em pelo menos uma das tres materias (fis, mat, qui)
# guardo essa media em duas variaveis 'media_his' e 'media_geo'
media_his = df_zero['Qt_acertos_his'].mean()
media_geo = df_zero['Qt_acertos_geo'].mean()

# resultados impressos
print(f"Média de Historia: {media_his:.2f}")
print(f"Média de Geografia: {media_geo:.2f}")

Média de Historia: 3.43
Média de Geografia: 3.22

In [10]:
# 4) Monte um DataFrame com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

df_alunos_classificados = df_vestibular_total[(
    df_vestibular_total[checagem_zero] != 0).all(axis=1)]

df_alunos_classificados.head()

,Qt_acertos_mat,qtd_questoes_mat,porc_acertos_mat,Qt_acertos_por,qtd_questoes_por,porc_acertos_por,Qt_acertos_geo,qtd_questoes_geo,porc_acertos_geo,Qt_acertos_ing,...,qtd_questoes_his,porc_acertos_his,Qt_acertos_fis,qtd_questoes_fis,porc_acertos_fis,Qt_acertos_qui,qtd_questoes_qui,porc_acertos_qui,total_acertos,acertos_porc
0,6,24,25.00,7,18,38.89,7,8,87.5,3,...,8,12.5,8,12,66.67,3,12,25.00,35,0.39
1,19,24,79.17,10,18,55.56,0,8,0.0,0,...,8,0.0,11,12,91.67,8,12,66.67,48,0.53
2,14,24,58.33,16,18,88.89,0,8,0.0,5,...,8,87.5,4,12,33.33,4,12,33.33,50,0.56
4,7,24,29.17,2,18,11.11,2,8,25.0,7,...,8,0.0,9,12,75.00,3,12,25.00,30,0.33
5,20,24,83.33,2,18,11.11,5,8,62.5,3,...,8,25.0,9,12,75.00,9,12,75.00,50,0.56

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [11]:
arquivo = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-99ea2c53-ce4f-4213-8f90-76846554f1d7.c000.csv'

In [12]:
df = pd.read_csv(arquivo, sep=';')

In [25]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,ddf87b8f-1b5e-412a-903d-74d8b747f57f-i0b0,8a892520bc95e058cf6fe3cbdf6c89273ec8e6f35bd583...,34,1986-12-23,M,1,BRANCA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,31065BD,PFIZER,Organization/28290,2021-12-11,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,dd097975-d896-4adc-97a1-5de3f51792a4-i0b0,5310f2da2074b4d20620f811323a6f7c4fc8853fc5a41f...,22,1998-08-09,F,99,SEM INFORMACAO,120013.0,10.0,BUJARI,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-07-23,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,b872c769-2fe9-4574-abb5-381283feb543-i0b0,8c76cc84a8139cf123ef97fafb0694cf1dce4816879822...,9,2013-02-18,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,NaN,NaN,210365,SINOVAC/BUTANTAN,152,2022-07-21,2ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
3,dd180d26-5bee-44d5-a4d5-ea314976d7f1-i0b0,d0a264fe07e8b95225c45d61cd6f1c020c1dec5d5f1125...,68,1953-03-01,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FH4750,PFIZER,Organization/28290,2021-11-25,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,ba4d1448-f95c-4448-b30b-b74150280b9d-i0b0,ac787fc50cc03d203f897e03ef557701bc593b1b99ed4a...,33,1987-09-26,M,1,BRANCA,120040.0,10.0,RIO BRANCO,...,8.0,Trabalhadores da Educação,ABW4731,ASTRAZENECA,Organization/00394544000851,2021-06-02,1ª Dose,89,COVID-19 ASTRAZENECA - ChAdOx1-S,Novo PNI

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390911 entries, 0 to 390910
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               390911 non-null  object
 1   paciente_id                               390911 non-null  object
 2   paciente_idade                            390911 non-null  int64
 3   paciente_dataNascimento                   390911 non-null  object
 4   paciente_enumSexoBiologico                390911 non-null  object
 5   paciente_racaCor_codigo                   390911 non-null  int64
 6   paciente_racaCor_valor                    390911 non-null  object
 7   paciente_endereco_coIbgeMunicipio         388458 non-null  float64
 8   paciente_endereco_coPais                  388464 non-null  float64
 9   paciente_endereco_nmMunicipio             388463 non-null  object
 10  paciente_endereco_nmPais                  388464 non-null  object
 11  paciente_endereco_uf                      388458 non-null  object
 12  paciente_endereco_cep                     333695 non-null  float64
 13  paciente_nacionalidade_enumNacionalidade  390732 non-null  object
 14  estabelecimento_valor                     390911 non-null  int64
 15  estabelecimento_razaoSocial               390911 non-null  object
 16  estalecimento_noFantasia                  390911 non-null  object
 17  estabelecimento_municipio_codigo          390911 non-null  int64
 18  estabelecimento_municipio_nome            390911 non-null  object
 19  estabelecimento_uf                        390911 non-null  object
 20  vacina_grupoAtendimento_codigo            390911 non-null  int64
 21  vacina_grupoAtendimento_nome              389567 non-null  object
 22  vacina_categoria_codigo                   370178 non-null  float64
 23  vacina_categoria_nome                     370178 non-null  object
 24  vacina_lote                               390911 non-null  object
 25  vacina_fabricante_nome                    390911 non-null  object
 26  vacina_fabricante_referencia              385633 non-null  object
 27  vacina_dataAplicacao                      390911 non-null  object
 28  vacina_descricao_dose                     390911 non-null  object
 29  vacina_codigo                             390911 non-null  int64
 30  vacina_nome                               390902 non-null  object
 31  sistema_origem                            390512 non-null  object
dtypes: float64(4), int64(6), object(22)
memory usage: 95.4+ MB

In [15]:
# 1) Quantas vacinas estão registradas nessa base?

total_vacinas = df.shape[0]
total_vacinas

390911

In [16]:
# 2) Quantos pacientes foram vacinados?

pacientes_vacinados = df['paciente_id'].nunique()
pacientes_vacinados

318850

In [17]:
# 3) Quantos pacientes únicos tomaram a primeira dose?

# identifico os diferentes valores na coluna 'vacina_descricao_dose'
dose = df['vacina_descricao_dose'].unique()
dose

# observamos que a '1ª Dose' esta na segunda posicao, ou seja, index = 1
primeira_dose = df['vacina_descricao_dose'].unique()[1]
primeira_dose

# aqui uso a variavel 'primeira_dose' combinada com a funcao loc para encontrar o total de linhas
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

143753

In [18]:
# 4) Quantos pacientes com menos de 18 anos foram vacinados?

df_menor_idade = df[df['paciente_idade'] < 18]
df_menor_idade['paciente_id'].nunique()

69726

In [19]:
# 5) Quantos estabelecimentos aplicaram vacina no Acre?

total_estabelecimentos = df['estabelecimento_razaoSocial'].nunique()
total_estabelecimentos

64

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [20]:
# 1) crie uma cópia do DataFrame original, contendo somente os registros de vacinas realizadas a menores de 18 anos.

df_menor_copia = df_menor_idade[df_menor_idade['paciente_idade'] < 18].copy()

In [21]:
# 2) crie uma lista das colunas desse DataFrame com o atributo de DataFrame .columns()

df_colunas = df_menor_copia.columns

In [22]:
# 3) Nesse DataFrame faça uma contagem do campo vacina_categoria_nome.

df_menor_copia['vacina_categoria_nome'].count()

np.int64(59044)

In [23]:
# 4) A partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.

lista_estabelecimento = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']

# 5) usando o método .loc, selecione somente essas variáveis

df_estabelecimento = df_menor_copia.loc[:,lista_estabelecimento]
df_estabelecimento.shape

(79220, 6)

In [24]:
# 6) Aplique o método .drop_duplicates e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

estabelecimento_unique = df_estabelecimento.drop_duplicates()
estabelecimento_unique.shape

(213, 6)