# Módulo 07, Tarefa 01

Vamos começar a mexer na nossa base de projeto? Já fizemos um exercício de montar a variável resposta, já pudemos perceber que essa atividade pode não ser trivial. Vamos agora trabalhar a base para que fique propícia ao *scikitlearn* para trabalharmos.

Lembrando, a base se chama demo01.csv, e originalmente está publicada [aqui](https://www.kaggle.com/rikdifos/credit-card-approval-prediction).

#### 1) Carregue a base e avalie:

- As variáveis
- Tipos de dados de cada variável
- Quantidade de missings
- Distribuição da variável resposta (mau)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
credito = pd.read_csv('demo01.csv')
credito.dtypes

sexo                      object
posse_de_veiculo          object
posse_de_imovel           object
qtd_filhos                 int64
tipo_renda                object
educacao                  object
estado_civil              object
tipo_residencia           object
idade                    float64
tempo_emprego            float64
possui_celular             int64
possui_fone_comercial      int64
possui_fone                int64
possui_email               int64
qt_pessoas_residencia    float64
mau                         bool
dtype: object

#### 2) Vamos montar um metadados

1. Crie um dataframe com os nomes de cada variável e o tipo de dados de cada variável.
2. Adicione uma coluna nesse *dataframe* chamada "qtd_categorias" e coloque nela o número de categorias correspondente de cada variável.
    Dica:
        1. inicie uma lista vazia
        2. faça um for ao longo dos nomes das variáveis,
        3. conte o número de categorias dessa variável
        4. acumule essa informação de 3. na lista que você criou em 1.
        5. No final, essa lista pode ser atribuída à nossa variável.

In [6]:
#1

credito_tipos = pd.DataFrame({
    'variavel': credito.columns,
    'tipo_de_dado': credito.dtypes.astype(str)
})

print(credito_tipos)

                                    variavel tipo_de_dado
sexo                                    sexo       object
posse_de_veiculo            posse_de_veiculo       object
posse_de_imovel              posse_de_imovel       object
qtd_filhos                        qtd_filhos        int64
tipo_renda                        tipo_renda       object
educacao                            educacao       object
estado_civil                    estado_civil       object
tipo_residencia              tipo_residencia       object
idade                                  idade      float64
tempo_emprego                  tempo_emprego      float64
possui_celular                possui_celular        int64
possui_fone_comercial  possui_fone_comercial        int64
possui_fone                      possui_fone        int64
possui_email                    possui_email        int64
qt_pessoas_residencia  qt_pessoas_residencia      float64
mau                                      mau         bool

In [11]:
#2

qtd_categorias = []

for var in credito_tipos['variavel']:
    # Conta o número de valores únicos, ignorando NaN
    qtd_categorias.append(credito[var].nunique())

# Adiciona a nova coluna ao dataframe credito_tipos
credito_tipos['qtd_categorias'] = qtd_categorias

print(credito_tipos)

                                    variavel tipo_de_dado  qtd_categorias
sexo                                    sexo       object               2
posse_de_veiculo            posse_de_veiculo       object               2
posse_de_imovel              posse_de_imovel       object               2
qtd_filhos                        qtd_filhos        int64               8
tipo_renda                        tipo_renda       object               5
educacao                            educacao       object               5
estado_civil                    estado_civil       object               5
tipo_residencia              tipo_residencia       object               6
idade                                  idade      float64            5298
tempo_emprego                  tempo_emprego      float64            3005
possui_celular                possui_celular        int64               1
possui_fone_comercial  possui_fone_comercial        int64               2
possui_fone                      possui_fone        int64               2
possui_email                    possui_email        int64               2
qt_pessoas_residencia  qt_pessoas_residencia      float64               9
mau                                      mau         bool               2

In [12]:
credito_tipos

                                    variavel tipo_de_dado  qtd_categorias
sexo                                    sexo       object               2
posse_de_veiculo            posse_de_veiculo       object               2
posse_de_imovel              posse_de_imovel       object               2
qtd_filhos                        qtd_filhos        int64               8
tipo_renda                        tipo_renda       object               5
educacao                            educacao       object               5
estado_civil                    estado_civil       object               5
tipo_residencia              tipo_residencia       object               6
idade                                  idade      float64            5298
tempo_emprego                  tempo_emprego      float64            3005
possui_celular                possui_celular        int64               1
possui_fone_comercial  possui_fone_comercial        int64               2
possui_fone                      possui_fone        int64               2
possui_email                    possui_email        int64               2
qt_pessoas_residencia  qt_pessoas_residencia      float64               9
mau                                      mau         bool               2

#### 3) Crie variáveis dummy para as variáveis necessárias (i.e. aquelas que são qualitativas e não estão armazenadas como {0, 1} ou {True, False}. Crie um *dataframe* apenas com as variáveis apropriadas para entrada no scikitlearn - elimine as variáveis tipo *str*, mantendo apenas suas versões *dummy*.

In [22]:
# Aqui identifico variáveis categóricas (tipo object)
variaveis_categoricas = credito_tipos.loc[
    credito_tipos['tipo_de_dado'] == 'object', 'variavel'
]

# Agora filtro apenas as categóricas com mais de 2 categorias (não binárias)
variaveis_multiclasse = credito_tipos.loc[
    (credito_tipos['tipo_de_dado'] == 'object') & (credito_tipos['qtd_categorias'] > 2),
    'variavel'
]

# Agora dummies para essas variáveis, usando o dataframe original (credito)
dummies = pd.get_dummies(credito[variaveis_multiclasse], drop_first=True)


# Seleciono as variáveis numéricas e booleanas
variaveis_numericas = credito_tipos.loc[
    credito_tipos['tipo_de_dado'].isin(['int64', 'float64', 'bool']),
    'variavel'
]

# Com base nisso, crio o dataframe final para entrada no scikit-learn
credito_modelo = pd.concat([credito[variaveis_numericas], dummies], axis=1)

# Visualizao o resultado
print(credito_modelo.head())

   qtd_filhos      idade  tempo_emprego  possui_celular  \
0           0  58.832877       3.106849               1
1           0  52.356164       8.358904               1
2           0  52.356164       8.358904               1
3           0  46.224658       2.106849               1
4           0  29.230137       3.021918               1

   possui_fone_comercial  possui_fone  possui_email  qt_pessoas_residencia  \
0                      0            0             0                    2.0
1                      0            1             1                    1.0
2                      0            1             1                    1.0
3                      1            1             1                    2.0
4                      0            0             0                    2.0

     mau  tipo_renda_Pensioner  ...  educacao_Secondary / secondary special  \
0  False                 False  ...                                    True
1  False                 False  ...                                    True
2  False                 False  ...                                    True
3  False                 False  ...                                   False
4  False                 False  ...                                   False

   estado_civil_Married  estado_civil_Separated  \
0                  True                   False
1                 False                   False
2                 False                   False
3                  True                   False
4                  True                   False

   estado_civil_Single / not married  estado_civil_Widow  \
0                              False               False
1                               True               False
2                               True               False
3                              False               False
4                              False               False

   tipo_residencia_House / apartment  tipo_residencia_Municipal apartment  \
0                               True                                False
1                               True                                False
2                               True                                False
3                               True                                False
4                               True                                False

   tipo_residencia_Office apartment  tipo_residencia_Rented apartment  \
0                             False                             False
1                             False                             False
2                             False                             False
3                             False                             False
4                             False                             False

   tipo_residencia_With parents
0                         False
1                         False
2                         False
3                         False
4                         False

[5 rows x 26 columns]

#### 4) Qual variável é mais poderosa?

Considere as variáveis ```possui_email``` e ```posse_de_veiculo```. Faça uma tabela cruzada entre elas e responda qual delas te parece mais poderosa para prever a probabilidade de ```mau = 1```?

In [23]:
# Tabela cruzada entre POSSE_DE_VEICULO e MAU
tabela_veiculo = pd.crosstab(credito['posse_de_veiculo'], credito['mau'], normalize='index')

# Tabela cruzada entre POSSUI_EMAIL e MAU
tabela_email = pd.crosstab(credito['possui_email'], credito['mau'], normalize='index')

# Exibo resultados
print("Distribuição de mau por posse de veículo:\n")
print(tabela_veiculo, "\n")

print("Distribuição de mau por posse de e-mail:\n")
print(tabela_email)

Distribuição de mau por posse de veículo:

mau                  False     True
posse_de_veiculo
N                 0.975732  0.024268
Y                 0.977905  0.022095

Distribuição de mau por posse de e-mail:

mau              False     True
possui_email
0             0.976269  0.023731
1             0.979730  0.020270

#### 5) Salve a base, pois ela será utilizada no final deste módulo.

In [24]:
# Salvando a base final em formato CSV
credito_modelo.to_csv('credito_modelo.csv', index=False)